/* Import theme styles. */
@import url( '../style.css' );

/* Styles specific to the editor. */

body.rtl {
	font-family: 'Lato', 'Helvetica Neue', Helvetica, sans-serif;
}

body#tinymce {
	background: #fff;
	border: none;
	margin: 16px 3%;
	max-width: 750px;
}